.chart-title {
    -fx-text-fill: blue;
    -fx-font-size: 1.6em;
}

#selectBox {

}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: grey;
    -fx-text-fill: white;
}